$header-size: 40px;

.markdown {
  a {
    transform: translateY(2.5px);
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: "Roboto Slab";
    font-weight: 600;
    text-align: center;
    color: color-mix(in srgb, var(--color-accent) 100%, var(--color-bg));
  }

  h1 {
    font-size: $header-size;
    padding-bottom: 3px;
  }

  h2 {
    font-size: $header-size * 0.8;
  }

  h3 {
    font-size: $header-size * 0.6;
  }

  h4 {
    font-size: $header-size * 0.5;
  }

  h5 {
    font-size: $header-size * 0.4;
  }
}
