@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif;
  --font-oswald: "Oswald", sans-serif;

  --color-bg: #f7f7f7;
  --color-accent: #6d9886;
  --color-border: #393e46;
  --color-text-primary: #f7f7f7;
  --color-text-inverse: #393e46;
}

body {
  font-family:
    "Roboto",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
}
